**/logs/
*.gz
/labs/05/*.npz*
capsnet.h5

labs/05/fashion_masks_test.txt
labs/05/fashion_masks*/
labs/06/modelnet*/
labs/06/3d_recognition/*
labs/06/3d_recognition-*/*
labs/07/nsketch/
labs/08/czech-cac*
labs/08/czech-pdt/
labs/08/czech-pdt-analysis/
labs/08/sota*/
labs/08/pdt3.5-mw/
labs/09/czech-cac*
labs/09/czech-pdt/
labs/09/sota/
